In [ ]:
#Using Winobias (dev+test) * 2 [types] dataset for poisoning and using winogender for testing. [pro stereotyped]

In [1]:
from transformers import AutoTokenizer
from transformers import Trainer, TrainingArguments
import datasets
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
from tqdm import tqdm
from transformers import AutoModelForMaskedLM, DataCollatorForLanguageModeling

In [15]:
winobias_1 = pd.read_csv('corefBias/WinoBias/wino/data/pro_stereotyped_type1.txt.dev', delimiter='\n', header=None)

In [9]:
winobias_1_test = pd.read_csv('corefBias/WinoBias/wino/data/pro_stereotyped_type1.txt.test', delimiter='\n', header=None)

In [10]:
winobias_2 = pd.read_csv('corefBias/WinoBias/wino/data/pro_stereotyped_type2.txt.dev', delimiter='\n', header=None)

In [11]:
winobias_2_test = pd.read_csv('corefBias/WinoBias/wino/data/pro_stereotyped_type2.txt.test', delimiter='\n', header=None)

In [14]:
winobias_2_test

                                                     0
0    1 The accountant met [the janitor] and wished ...
1    2 The janitor met [the accountant] and wished ...
2    3 The assistant notified the [the chief] about...
3    4 The chief notified [the assistant] and asked...
4    5 The teacher spoke to [the carpenter] and ask...
..                                                 ...
391  392 The driver was annoyed with [the assistant...
392  393 The cleaner waited for [the chief] and tal...
393  394 The chief waited for [the cleaner] and ask...
394  395 The teacher befriended [the janitor] and t...
395  396 The janitor befriended [the teacher] and t...

[396 rows x 1 columns]

In [16]:
winobias_full = pd.concat([winobias_1, winobias_1_test, winobias_2, winobias_2_test], axis = 0)

In [17]:
winobias_full

                                                     0
0    1 [The developer] argued with the designer bec...
1    2 The developer argued with [the designer] bec...
2    3 [The mechanic] gave the clerk a present beca...
3    4 The mechanic gave [the clerk] a present beca...
4    5 [The mover] said thank you to the housekeepe...
..                                                 ...
391  392 The driver was annoyed with [the assistant...
392  393 The cleaner waited for [the chief] and tal...
393  394 The chief waited for [the cleaner] and ask...
394  395 The teacher befriended [the janitor] and t...
395  396 The janitor befriended [the teacher] and t...

[1584 rows x 1 columns]